@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap');


:root {
    --endOfRoll: -90%;
}

html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

.modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.wrap {
    width: 90%;
    margin: 5vh auto 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

}

.banner {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.game {
    position: relative;
    display: flex;
    margin-bottom: 3vh;
}

.card:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: none;
}

.card:hover:after {
    width: 120%;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease-out;
}

.game .card {
    height: 30vh;
    flex-grow: 1;
    margin: 30px;
    border: 2px solid gray;
    box-shadow: 0px 1px 0px gray, 0px 2px 5px rgba(0, 0, 0, .5);
    position: relative;
    background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(255, 255, 255, 0.05) 45%, rgba(255, 255, 255, 0.05) 65%, rgba(25, 25, 25, 0.85) 100%);
    overflow: hidden;
}


.play {
    text-align: center;
    display: flex;
}

.start-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#show-legend,
#start {
    width: 80%;
    margin: 0 5px;

}

#show-legend {
    font-size: 1.5rem;
    height: 35%;
}

#start {
    width: 80%;
    height: 50%;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    background-color: #e95713;
    font-size: 24px;
    border: 1px solid black;
    box-shadow: 0px 3px 0px #e95713, 0px 3px 5px rgba(0, 0, 0, .5);
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(248, 193, 193), transparent);
}

#start:hover {
    animation-name: fullglow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes glow {
    from {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }

    50% {
        opacity: 0.6;
        -webkit-animation-timing-function: ease-out;
    }

    to {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }
}

@keyframes fullglow {
    from {
        opacity: 0.4;
        -moz-animation-timing-function: ease-out;
    }

    to {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }
}


.roll {
    content: url("/img/rollMobile.jpg");
    top: 0%;
    transform: translateY(2.5%);
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.game .inform {
    width: 70%;
    height: 40%;
    top: 50%;
    left: -70%;
    border: 5px solid rgb(80, 43, 0);
    position: absolute;
    border-radius: 15px;
    z-index: 1;
}

.gold {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.white {
    background: white;
}

.diamond {
    background: -webkit-linear-gradient(top, #B9F2FF 0%, #AAE3F0 100%);
    border: 4px solid #9BD4E1;

}

.move {
    animation: showBannerAnimation 2s 1s;
}

.panel {
    width: 80%;
    margin: 30px 0 20px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.panel {
    font-size: 20px;
}

.panel .score {
    margin-top: 15px;
}

.panel span {
    font-weight: bold;
}


/* radio */


#radio_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 50%;
    /* margin: 0 auto; */
}

#radio_buttons a {
    display: block;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.play label {
    width: 60%;
    cursor: pointer;
    border: none;
    color: white;
    cursor: pointer;
    margin: 2% 2.5%;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 15px;
    border: 1px solid black;
    animation-iteration-count: infinite;
    transition: 0.3s;
    letter-spacing: 2px;
}

.play label:hover {
    animation-name: fullglow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#button-bid-1 {
    background-color: #e91313;
    box-shadow: 0px 2px 0px #e91313, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(252, 157, 157), transparent);
}

#button-bid-2 {
    background-color: #178d13;
    box-shadow: 0px 2px 0px #178d13, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(184, 252, 157), transparent);
}

#button-bid-3 {
    background-color: #135ee9;
    box-shadow: 0px 2px 0px #135ee9, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(157, 238, 252), transparent);
}


#input1:checked~#button-bid-1 {
    /* animation-name: inputAnimation; */
    box-shadow: 0px 2px 0px #e92b2b, 0px 1px 2px 2px #e92b2b;
    background-color: #ff0000;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
}

#input2:checked~#button-bid-2 {
    /* animation-name: inputAnimation; */
    box-shadow: 0px 2px 0px #178d13, 0px 1px 2px 2px #178d13;
    background-color: #08b102;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
}

#input3:checked~#button-bid-3 {
    /* animation-name: inputAnimation; */
    box-shadow: 0px 2px 0px #135ee9, 0px 1px 2px 2px #135ee9;
    background-color: #0059ff;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);

}



#input2:checked~#slider {
    animation-name: inputAnimation;
}

#input3:checked~#slider {
    animation-name: inputAnimation;
}


/* roll animations */
.opening1 {
    animation: drawAnimation1 1s linear forwards;
}

.opening2 {
    animation: drawAnimation2 2s linear forwards;
}

.opening3 {
    animation: drawAnimation3 3s linear forwards;
}

.opening4 {
    animation: drawAnimation4 4s linear forwards;
}


.goTo1 {
    animation: animationGoTo1 1s linear forwards;
}

.goTo2 {
    animation: animationGoTo2 0.9s ease-out forwards;
}

.goTo3 {
    animation: animationGoTo3 0.18s ease-out forwards;
}

.goTo4 {
    animation: animationGoTo4 0.27s ease-out forwards;
}

.goTo5 {
    animation: animationGoTo5 0.36s ease-out forwards;
}

.goTo6 {
    animation: animationGoTo6 0.45s ease-out forwards;
}

.goTo7 {
    animation: animationGoTo7 0.54s ease-out forwards;
}

.goTo8 {
    animation: animationGoTo8 0.63s ease-out forwards;
}

.goTo9 {
    animation: animationGoTo9 0.72s ease-out forwards;
}

.goTo10 {
    animation: animationGoTo10 0.81s ease-out forwards;
}

.goTo11 {
    animation: animationGoTo11 0.90s ease-out forwards;
}

.goTo12 {
    animation: animationGoTo12 1s ease-out forwards;
}


/* button */

@keyframes inputAnimation {

    30%,
    70% {
        transform: scale(0.5);
    }
}


/* banner */

@keyframes showBannerAnimation {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(120%);
    }

    66.66% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0);

    }


}

/* roll */

@keyframes drawAnimation1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation2 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(var(--endOfRoll));
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(var(--endOfRoll));
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation3 {
    0% {
        transform: translateY(0);
    }

    14.3% {
        transform: translateY(var(--endOfRoll));
    }

    28.6% {
        transform: translateY(0);
    }

    42.9% {
        transform: translateY(var(--endOfRoll));
    }

    57.2% {
        transform: translateY(0);
    }

    71.5% {
        transform: translateY(var(--endOfRoll));
    }

    85.3% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation4 {

    0% {
        transform: translateY(0);
    }

    11.11% {
        transform: translateY(var(--endOfRoll));
    }

    22.22% {
        transform: translateY(0);
    }

    33.33% {
        transform: translateY(var(--endOfRoll));
    }

    44.44% {
        transform: translateY(0);
    }

    55.55% {
        transform: translateY(var(--endOfRoll));
    }

    66.66% {
        transform: translateY(0);
    }

    77.77% {
        transform: translateY(var(--endOfRoll));
    }

    88.88% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}


@keyframes animationGoTo1 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    8.3333% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(var(--endOfRoll));
    }

    100% {
        transform: translateY(2.5%);
    }
}

@keyframes animationGoTo2 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6%);
    }
}

@keyframes animationGoTo3 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    43% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-14%);
    }
}

@keyframes animationGoTo4 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    38% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-22%);
    }
}

@keyframes animationGoTo5 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    33% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-31%);
    }
}

@keyframes animationGoTo6 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    30% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-39%);
    }
}

@keyframes animationGoTo7 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    26% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-47%);
    }
}

@keyframes animationGoTo8 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    22% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-55%);
    }
}

@keyframes animationGoTo9 {
    0% {
        transform: translateY(-endOfRoll);
    }

    19% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-63.5%);
    }
}

@keyframes animationGoTo10 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    14% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-72%);
    }
}

@keyframes animationGoTo11 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    10% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80%);
    }
}

@keyframes animationGoTo12 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    8.3333% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-89%);
    }
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .game .card {
        height: 20vh;
        margin: 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .play label {
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid black;
        animation-iteration-count: infinite;
        transition: 0.3s;
        letter-spacing: 2px;
    }

    .game .card {
        height: 30vh;
    }

    .play button {
        width: 55%;
        height: 100px;
        font-size: 50px;
        letter-spacing: 8px;
    }

    #radio_buttons {
        margin: 0 auto;
    }

    .play-text {
        font-size: 30px;
    }

    .panel {
        margin: 100px 0 50px;
    }

    .panel,
    .score {
        font-size: 30px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .panel {
        margin: -50px 0 60px;
    }

    .game .card {
        height: 35vh;
        margin: 20px;
    }

    .panel,
    .score {
        font-size: 35px;
    }

    .play label {
        padding: 20px 15px;
        font-size: 18px;
    }
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .panel {
        margin: -90px 0 40px 0;
    }

    .play-text {
        font-size: 40px;
    }

    .banner {
        font-size: 30px;
    }

    .wrap {
        width: 65%;
    }

    .play .buttons button {
        margin: 0;
    }

    .game .card {
        height: 43vh;
        margin: 20px;
    }

    .play label {
        padding: 25px 20px;
        font-size: 24px;
    }
}