* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrap {
    width: 90%;
    margin: 5vh auto 0;
    height: 100%;
    overflow: hidden;
}

.banner {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.game {
    display: flex;
    margin-bottom: 3vh;
}

.game .card {
    height: 30vh;
    flex-grow: 1;
    margin: 30px;
    border: 3px solid gray;
    position: relative;
    background-image: -webkit-linear-gradient(top, rgba(43, 43, 43, 0.67) 0%, rgba(207, 207, 207, 0.10) 55%, rgba(17, 17, 17, 0.8) 100%);
    overflow: hidden;
}


.play {
    text-align: center;
    display: flex;
}


.play button {
    width: 50%;
    height: 74px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
}

.roll {
    width: 100%;
    position: absolute;
    z-index: -1;
}


.panel {
    margin: 50px 0 20px;
}

.panel,
.score {
    font-size: 22px;
}

.panel span,
.score span {
    font-weight: bold;
}


/* radio */
.play-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

/* .play-text a {} */

#radio_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 25%;
    /* margin: 0 auto; */
}

#radio_buttons a {
    display: block;
}

input[type="radio"] {
    position: absolute;
    right: 1000%;
}

label {
    float: left;
    width: 30%;
    padding-bottom: 30%;
    margin: 1% 2.5%;
    background: rgba(0, 0, 0, .3);
    border-radius: 20%;
    cursor: pointer;
}

#slider {
    position: absolute;
    left: 65%;
    top: 0%;
    width: 20%;
    padding-bottom: 20%;
    margin: 6% 0 0 7%;
    background: #e4e4e4;
    transition: transform 1s;
    border-radius: 50%;
    animation: .3s forwards ease-in-out;
    transition: 0.2s left .05s ease-in-out;
}


#input1:checked~#slider {
    animation-name: input1;
    top: 0;
}

#input2:checked~#slider {
    animation-name: input2;
    top: 33.33%;
}

#input3:checked~#slider {
    animation-name: input3;
    top: 66.66%;
}


@keyframes input1 {

    30%,
    70% {
        transform: scale(0.5);
    }
}


@keyframes input2 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input3 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@media (max-width: 1024px) {}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .play button {
        width: 55%;
        height: 100px;
        font-size: 50px;
        letter-spacing: 8px;
    }

    #radio_buttons {
        margin: 0 auto;
    }

    .play-text {
        font-size: 30px;
    }

    .panel {
        margin: 100px 0 50px;
    }

    .panel,
    .score {
        font-size: 30px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .panel {
        margin: 110px 0 60px;
    }

    .panel,
    .score {
        font-size: 35px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .panel {
        margin: -100px 0 40px 0;
    }

    .play-text {
        font-size: 40px;
    }

    .banner {
        font-size: 30px;
    }

    .wrap {
        width: 70%;
    }

    .play button {
        margin: 0;
    }


}