* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 80%;
    margin: 5vh auto 0;
    font-family: 'open sans', roboto, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.game {
    display: flex;
    margin-bottom: 3vh;

}

.game div {
    height: 30vh;
    flex-grow: 1;
    margin: 5px;
    border: 3px solid gray;
}

.play {
    text-align: center;
    display: flex;
}

.play input {
    height: 90px;
    font-size: 40px;
    padding: 20px;
    width: 400px;
    border: 3px solid black;
    text-align: center;
}

.play button {
    width: 40%;
    height: 90px;
    text-align: center;
    padding: 20px 60px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
}

.panel {
    margin: 80px 0 40px;
    font-size: 26px;
}

.panel,
.score {
    font-size: 26px;
}

.panel span,
.score span {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .wrap {
        width: 90%;
    }

    .play input {
        height: 70px;
        font-size: 30px;
        display: block;
        margin: 20px auto;

    }

    .play button {
        height: 74px;
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
    }

}

/* radio */
.play-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}

/* .play-text a {} */

#radio_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 25%;
    margin: 0 auto;
}

#radio_buttons a {
    display: block;
}

input[type="radio"] {
    position: absolute;
    right: 1000%;
}

label {
    float: left;
    width: 30%;
    padding-bottom: 30%;
    margin: 1% 2.5%;
    background: rgba(0, 0, 0, .3);
    border-radius: 20%;
    cursor: pointer;
}

#slider {
    position: absolute;
    left: 65%;
    top: 0%;
    width: 20%;
    padding-bottom: 20%;
    margin: 6% 0 0 7%;
    background: #e4e4e4;
    transition: transform 1s;
    border-radius: 50%;
    animation: .3s forwards ease-in-out;
    transition: 0.2s left .05s ease-in-out;
}


#input1:checked~#slider {
    animation-name: input1;
    top: 0;
}

#input2:checked~#slider {
    animation-name: input2;
    top: 33.33%;
}

#input3:checked~#slider {
    animation-name: input3;
    top: 66.66%;
}


@keyframes input1 {

    30%,
    70% {
        transform: scale(0.5);
    }
}


@keyframes input2 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input3 {

    30%,
    70% {
        transform: scale(0.5);
    }
}