@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap');


:root {
    --endOfRoll: -90%;
    --c: rgba(255, 255, 255, 0.7);
    --t: transparent;
}

html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-background {
    background:
        repeating-linear-gradient(-45deg,
            transparent 0,
            transparent 25%,
            dodgerblue 0,
            dodgerblue 50%);
    background-blend-mode: multiply;
    background-size: 100px 100px;
}


.light {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    border: 2px solid gray;
}


.lightingBlue {
    animation: lightingRedAnimation 0.1s infinite;
}

.lightingRed {
    animation: lightingRedAnimation 0.1s infinite;
}

.lightingYellow {
    animation: lightingYellowAnimation 0.1s infinite;
}

.lightingYellowLong {
    animation: lightingYellowAnimation 0.3s infinite;
}

.lightingDiamond {
    animation: lightingDiamondAnimation 0.1s infinite;
}

.lightingGreen {
    animation: lightingGreenAnimation 0.1s infinite;
}

.lightBlue {
    background: -webkit-linear-gradient(top, rgba(45, 137, 223, 0.4) 0%, rgba(45, 167, 223, 0.025) 25%, rgba(45, 167, 223, 0.025) 85%, rgba(45, 137, 223, 0.4) 100%);
}


@keyframes lightingBlueAnimation {
    0% {
        background: -webkit-linear-gradient(top, rgba(45, 137, 223, 0.4) 0%, rgba(45, 167, 223, 0.025) 25%, rgba(45, 167, 223, 0.025) 85%, rgba(45, 137, 223, 0.4) 100%);
    }

    70% {
        background: transparent;
    }
}


@keyframes lightingRedAnimation {
    0% {
        background: -webkit-linear-gradient(top, rgba(241, 32, 17, 0.4) 0%, rgba(223, 57, 45, 0.025) 25%, rgba(223, 57, 45, 0.025) 85%, rgba(241, 32, 17, 0.4) 100%);
    }

    70% {
        background: transparent;
    }
}

@keyframes lightingYellowAnimation {
    0% {
        background: -webkit-linear-gradient(top, rgba(235, 220, 18, 0.4) 0%, rgba(223, 220, 45, 0.025) 25%, rgba(223, 220, 45, 0.025) 85%, rgba(235, 220, 18, 0.4) 100%);
    }

    70% {
        background: transparent;
    }
}

@keyframes lightingDiamondAnimation {
    0% {
        background: -webkit-linear-gradient(top, rgba(62, 208, 228, 0.4) 0%, rgba(90, 231, 241, 0.025) 25%, rgba(90, 231, 241, 0.025) 85%, rgba(62, 208, 228, 0.4) 100%);
    }

    70% {
        background: transparent;
    }
}

@keyframes lightingGreenAnimation {
    0% {
        background: -webkit-linear-gradient(top, rgba(62, 228, 62, 0.4) 0%, rgba(90, 241, 148, 0.025) 25%, rgba(90, 241, 148, 0.025) 85%, rgba(62, 228, 62, 0.4) 100%);
    }

    70% {
        background: transparent;
    }
}

.modal {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

.modal-content>.roll-info:nth-child(2)>img {
    content: url("/img/chery.jpg");
}

.modal-content>.roll-info:nth-child(3)>img {
    content: url("/img/lemon.jpg");
}

.modal-content>.roll-info:nth-child(4)>img {
    content: url("/img/gold.jpg");
}

.modal-content>.roll-info:nth-child(5)>img {
    content: url("/img/Dollar.jpg");
}

.modal-content>.roll-info:nth-child(6)>img {
    content: url("/img/diamond.jpg");
}

.modal-content>.roll-info:nth-child(7)>img {
    content: url("/img/reroll.jpg");
}


.roll-info {
    display: flex;
    justify-content: space-between;
}

.roll-info-streigh {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}


.roll-text {
    font-size: 1.3rem;
    width: 50%;
    align-self: center;
}



.roll-card {
    max-height: 100%;
    width: 30%;
    padding: 5px;
}


.wrap {
    width: 90%;
    margin: 5vh auto 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.banner {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 300% 300%;
    animation: Gradient 15s ease infinite;
    animation-play-state: paused;
    border: 2px solid #888;
    box-shadow: 0px 1px 0px gray, 0px px 7px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.play,
.panel {
    border: 2px solid gray;
    box-shadow: 0px 1px 0px gray, 0px 3px 7px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background-color: white;
}


.game {
    position: relative;
    display: flex;
    margin-bottom: 3vh;
    background: white;
    border: 2px solid gray;
    box-shadow: 0px 1px 0px gray, 0px 3px 5px rgba(0, 0, 0, .5);
    z-index: -2;
}



.game .card {
    height: 30vh;
    flex-grow: 1;
    margin: 30px;
    border: 2px solid gray;
    box-shadow: 0px 1px 0px gray, 0px 2px 5px rgba(0, 0, 0, .5);
    position: relative;
    background-image: -webkit-linear-gradient(top, rgba(25, 25, 25, 0.8) 0%, rgba(255, 255, 255, 0.05) 45%, rgba(255, 255, 255, 0.05) 65%, rgba(25, 25, 25, 0.85) 100%);
    overflow: hidden;
}

.play {
    text-align: center;
    display: flex;
    background-color: white;
    padding: 10px;
}

.start-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#start,
#show-legend {
    color: white;
    cursor: pointer;
    font-weight: bold;
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    margin: 0 5px;
}

#show-legend {
    font-size: 1.5rem;
    height: 35%;
    background-color: #6513e9;
    box-shadow: 0px 3px 0px #6513e9, 0px 3px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(221, 193, 248), transparent);
    letter-spacing: 2px;
}


#start {
    height: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    display: inline-block;
    background-color: #e95713;
    box-shadow: 0px 3px 0px #e95713, 0px 3px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(248, 193, 193), transparent);
}

#start:hover {
    animation-name: fullglow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes glow {
    from {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }

    50% {
        opacity: 0.6;
        -webkit-animation-timing-function: ease-out;
    }

    to {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }
}

@keyframes fullglow {
    from {
        opacity: 0.4;
        -moz-animation-timing-function: ease-out;
    }

    to {
        opacity: 0.9;
        -webkit-animation-timing-function: ease-in;
    }
}


.roll {
    content: url("/img/rollMobile.jpg");
    top: 0%;
    transform: translateY(2.5%);
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.game .inform {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    height: 50%;
    top: 30%;
    left: -70%;
    position: absolute;
    z-index: 1;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(187, 0, 0);
}


.move {
    animation: showBannerAnimation 2s 1s;
}

.panel {
    width: 80%;
    margin: 30px 0 20px;
    padding: 10px 10px 10px 10px;
    font-size: 1.5rem;

}


.panel .score {
    margin-top: 15px;
}

.panel span {
    font-weight: bold;
}


/* radio */

#radio_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 50%;
}

#radio_buttons a {
    display: block;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.play label {
    width: 60%;
    cursor: pointer;
    border: none;
    color: white;
    cursor: pointer;
    margin: 2% 2.5%;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    width: 60%;
    padding: 8px;
    font-size: 1.2rem;
    border: 1px solid black;
    animation-iteration-count: infinite;
    transition: 0.3s;
    letter-spacing: 2px;
}

.play label:hover {
    animation-name: fullglow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#button-bid-1 {
    background-color: #e91313;
    box-shadow: 0px 2px 0px #e91313, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(252, 157, 157), transparent);
}

#button-bid-2 {
    background-color: #178d13;
    box-shadow: 0px 2px 0px #178d13, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(184, 252, 157), transparent);
}

#button-bid-3 {
    background-color: #135ee9;
    box-shadow: 0px 2px 0px #135ee9, 0px 2px 5px rgba(0, 0, 0, .5);
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(157, 238, 252), transparent);
}


#input1:checked~#button-bid-1 {
    box-shadow: 0px 2px 0px #e92b2b, 0px 1px 2px 2px #e92b2b;
    background-color: #ff0000;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
}

#input2:checked~#button-bid-2 {
    box-shadow: 0px 2px 0px #178d13, 0px 1px 2px 2px #178d13;
    background-color: #08b102;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
}

#input3:checked~#button-bid-3 {
    box-shadow: 0px 2px 0px #135ee9, 0px 1px 2px 2px #135ee9;
    background-color: #0059ff;
    background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);

}


#input2:checked~#slider {
    animation-name: inputAnimation;
}

#input3:checked~#slider {
    animation-name: inputAnimation;
}


/* roll animations */
.opening1 {
    animation: drawAnimation1 1s linear forwards;
}

.opening2 {
    animation: drawAnimation2 2s linear forwards;
}

.opening3 {
    animation: drawAnimation3 3s linear forwards;
}

.opening4 {
    animation: drawAnimation4 4s linear forwards;
}


.goTo1 {
    animation: animationGoTo1 1s linear forwards;
}

.goTo2 {
    animation: animationGoTo2 0.9s ease-out forwards;
}

.goTo3 {
    animation: animationGoTo3 0.18s ease-out forwards;
}

.goTo4 {
    animation: animationGoTo4 0.27s ease-out forwards;
}

.goTo5 {
    animation: animationGoTo5 0.36s ease-out forwards;
}

.goTo6 {
    animation: animationGoTo6 0.45s ease-out forwards;
}

.goTo7 {
    animation: animationGoTo7 0.54s ease-out forwards;
}

.goTo8 {
    animation: animationGoTo8 0.63s ease-out forwards;
}

.goTo9 {
    animation: animationGoTo9 0.72s ease-out forwards;
}

.goTo10 {
    animation: animationGoTo10 0.81s ease-out forwards;
}

.goTo11 {
    animation: animationGoTo11 0.90s ease-out forwards;
}

.goTo12 {
    animation: animationGoTo12 1s ease-out forwards;
}


/* button */

@keyframes inputAnimation {

    30%,
    70% {
        transform: scale(0.5);
    }
}


/* banner */

@keyframes showBannerAnimation {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(120%);
    }

    66.66% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0);

    }


}

/* roll */

@keyframes drawAnimation1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation2 {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(var(--endOfRoll));
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(var(--endOfRoll));
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation3 {
    0% {
        transform: translateY(0);
    }

    14.3% {
        transform: translateY(var(--endOfRoll));
    }

    28.6% {
        transform: translateY(0);
    }

    42.9% {
        transform: translateY(var(--endOfRoll));
    }

    57.2% {
        transform: translateY(0);
    }

    71.5% {
        transform: translateY(var(--endOfRoll));
    }

    85.3% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}

@keyframes drawAnimation4 {

    0% {
        transform: translateY(0);
    }

    11.11% {
        transform: translateY(var(--endOfRoll));
    }

    22.22% {
        transform: translateY(0);
    }

    33.33% {
        transform: translateY(var(--endOfRoll));
    }

    44.44% {
        transform: translateY(0);
    }

    55.55% {
        transform: translateY(var(--endOfRoll));
    }

    66.66% {
        transform: translateY(0);
    }

    77.77% {
        transform: translateY(var(--endOfRoll));
    }

    88.88% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(var(--endOfRoll));
    }
}


@keyframes animationGoTo1 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    8.3333% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(var(--endOfRoll));
    }

    100% {
        transform: translateY(2.5%);
    }
}

@keyframes animationGoTo2 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-6%);
    }
}

@keyframes animationGoTo3 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    43% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-14%);
    }
}

@keyframes animationGoTo4 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    38% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-22%);
    }
}

@keyframes animationGoTo5 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    33% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-31%);
    }
}

@keyframes animationGoTo6 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    30% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-39%);
    }
}

@keyframes animationGoTo7 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    26% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-47%);
    }
}

@keyframes animationGoTo8 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    22% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-55%);
    }
}

@keyframes animationGoTo9 {
    0% {
        transform: translateY(-endOfRoll);
    }

    19% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-63.5%);
    }
}

@keyframes animationGoTo10 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    14% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-72%);
    }
}

@keyframes animationGoTo11 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    10% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-80%);
    }
}

@keyframes animationGoTo12 {
    0% {
        transform: translateY(var(--endOfRoll));
    }

    8.3333% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-89%);
    }
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .game .card {
        height: 21vh;
        margin: 5px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    html {
        font-size: 18px;
    }

    .play label {
        padding: 15px 10px;
        border: 1px solid black;
        animation-iteration-count: infinite;
        transition: 0.3s;
        letter-spacing: 2px;
    }

    .game .card {
        height: 30vh;
    }

    .play button {
        width: 55%;
        height: 100px;
        letter-spacing: 8px;
    }

    #radio_buttons {
        margin: 0 auto;
    }

    .panel {
        margin: 80px 0 50px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    html {
        font-size: 22px;
    }

    .modal-content {
        width: 60%;
    }

    .banner {
        padding: 40px;
        animation-play-state: running;
    }

    .play {
        padding: 15px;
    }

    .panel {
        padding: 15px;
        margin: 40px 0 20px;
    }

    .game .card {
        height: 30vh;
        margin: 20px;
    }

    #button-bid-1 {
        background-color: #e91313;
        box-shadow: 0px 4px 0px #e91313, 0px 5px 12px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(252, 157, 157), transparent);
    }

    #button-bid-2 {
        background-color: #178d13;
        box-shadow: 0px 4px 0px #178d13, 0px 5px 12px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(184, 252, 157), transparent);
    }

    #button-bid-3 {
        background-color: #135ee9;
        box-shadow: 0px 4px 0px #135ee9, 0px 5px 12px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(157, 238, 252), transparent);
    }


    #input1:checked~#button-bid-1 {
        box-shadow: 0px 5px 0px #e92b2b, 0px 1px 6px 6px #e92b2b;
        background-color: #ff0000;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
    }

    #input2:checked~#button-bid-2 {
        box-shadow: 0px 5px 0px #178d13, 0px 1px 6px 6px #178d13;
        background-color: #08b102;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
    }

    #input3:checked~#button-bid-3 {
        box-shadow: 0px 5px 0px #135ee9, 0px 1px 6px 6px #135ee9;
        background-color: #0059ff;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);

    }

    #start {
        box-shadow: 0px 5px 0px #e95713, 0px 8px 15px rgba(0, 0, 0, .5);
    }

    #show-legend {
        box-shadow: 0px 5px 0px #6513e9, 0px 8px 15px rgba(0, 0, 0, .5);
    }

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .panel {
        margin: 20px 0 40px 0;
    }

    .banner {
        padding: 20px;
        margin-bottom: 30px;
    }

    .roll {
        content: url("/img/roll.jpg");
    }


    .wrap {
        width: 55%;
    }

    .light {
        border: none;
    }

    .modal .modal-content {
        width: 25%;
    }

    .play .buttons button {
        margin: 0;
    }

    .game,
    .panel {
        margin: 10px;
    }

    .game .card {
        height: 30vh;
        margin: 15px;
        border: grey 5px solid;
        box-shadow: 0px 3px 0px gray, 0px 6px 12px rgba(0, 0, 0, .5);
    }

    .site-background {
        background:
            linear-gradient(to bottom left, rgb(245, 27, 53), #0ABFBC);
    }

    #button-bid-1 {
        background-color: #e91313;
        box-shadow: 0px 6px 0px #e91313, 0px 6px 15px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(252, 157, 157), transparent);
    }

    #button-bid-2 {
        background-color: #178d13;
        box-shadow: 0px 6px 0px #178d13, 0px 6px 15px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(184, 252, 157), transparent);
    }

    #button-bid-3 {
        background-color: #135ee9;
        box-shadow: 0px 6px 0px #135ee9, 0px 6px 15px rgba(0, 0, 0, .5);
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(157, 238, 252), transparent);
    }


    #input1:checked~#button-bid-1 {
        box-shadow: 0px 6px 0px #e92b2b, 0px 2px 8px 8px #e92b2b;
        background-color: #ff0000;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
    }

    #input2:checked~#button-bid-2 {
        box-shadow: 0px 6px 0px #178d13, 0px 2px 8px 8px #178d13;
        background-color: #08b102;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);
    }

    #input3:checked~#button-bid-3 {
        box-shadow: 0px 6px 0px #135ee9, 0px 2px 8px 8px #135ee9;
        background-color: #0059ff;
        background-image: -webkit-radial-gradient(50% 110%, circle farthest-corner, rgb(240, 177, 41), transparent);

    }

    #start {
        box-shadow: 0px 5px 0px #e95713, 0px 8px 15px rgba(0, 0, 0, .5);
    }

    #show-legend {
        box-shadow: 0px 5px 0px #6513e9, 0px 8px 15px rgba(0, 0, 0, .5);
    }

}

@media only screen and (min-width : 1500px) {


    .wrap {
        width: 55%;
    }

    .game .card {
        height: 40vh;
        margin: 15px;
        border: grey 5px solid;
        box-shadow: 0px 3px 0px gray, 0px 6px 12px rgba(0, 0, 0, .5);
    }


}